<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>htmlsederhana</servlet-name>
        <servlet-class>usd.latihan.htmlsederhana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>htmllist</servlet-name>
        <servlet-class>usd.latihan.htmllist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>htmltable</servlet-name>
        <servlet-class>usd.latihan.htmltable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rekomendasifilm</servlet-name>
        <servlet-class>usd.tugas.rekomendasifilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kalkulator</servlet-name>
        <servlet-class>usd.tugas.kalkulator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDataServlet</servlet-name>
        <servlet-class>usd.formData.SubmitDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBiodata</servlet-name>
        <servlet-class>usd.formData.SubmitBiodata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCookies</servlet-name>
        <servlet-class>usd.cookies.showCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCookies</servlet-name>
        <servlet-class>usd.cookies.setCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repeatVisitor</servlet-name>
        <servlet-class>usd.cookies.repeatVisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientAccessCount</servlet-name>
        <servlet-class>usd.cookies.ClientAccessCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>usd.cookies.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showSession</servlet-name>
        <servlet-class>usd.session.showSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setSession</servlet-name>
        <servlet-class>usd.session.setSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSession</servlet-name>
        <servlet-class>usd.session.DeleteSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessCount</servlet-name>
        <servlet-class>usd.session.AccessCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <servlet-class>usd.cookies.RegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfValues</servlet-name>
        <servlet-class>usd.session.ListOfValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLRewrite</servlet-name>
        <servlet-class>usd.session.URLRewrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUser</servlet-name>
        <servlet-class>Servlet.showUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>Servlet.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Servlet.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUser</servlet-name>
        <servlet-class>Servlet.searchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>Servlet.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showStock</servlet-name>
        <servlet-class>StokGudang.showStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStock</servlet-name>
        <servlet-class>StokGudang.addStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fungsiGudang</servlet-name>
        <servlet-class>StokGudang.fungsiGudang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStock</servlet-name>
        <servlet-class>StokGudang.updateStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>htmlsederhana</servlet-name>
        <url-pattern>/htmlsederhana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>htmllist</servlet-name>
        <url-pattern>/htmllist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>htmltable</servlet-name>
        <url-pattern>/htmltable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rekomendasifilm</servlet-name>
        <url-pattern>/rekomendasifilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kalkulator</servlet-name>
        <url-pattern>/kalkulator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDataServlet</servlet-name>
        <url-pattern>/SubmitDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBiodata</servlet-name>
        <url-pattern>/SubmitBiodata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCookies</servlet-name>
        <url-pattern>/showCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCookies</servlet-name>
        <url-pattern>/setCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repeatVisitor</servlet-name>
        <url-pattern>/repeatVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientAccessCount</servlet-name>
        <url-pattern>/ClientAccessCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showSession</servlet-name>
        <url-pattern>/showSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setSession</servlet-name>
        <url-pattern>/setSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSession</servlet-name>
        <url-pattern>/DeleteSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessCount</servlet-name>
        <url-pattern>/AccessCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationForm</servlet-name>
        <url-pattern>/RegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfValues</servlet-name>
        <url-pattern>/ListOfValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLRewrite</servlet-name>
        <url-pattern>/URLRewrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUser</servlet-name>
        <url-pattern>/showUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUser</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showStock</servlet-name>
        <url-pattern>/showStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStock</servlet-name>
        <url-pattern>/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fungsiGudang</servlet-name>
        <url-pattern>/fungsiGudang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStock</servlet-name>
        <url-pattern>/updateStock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
